@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>VGGLinkedIn Web Application</h3>

<p>GitHub Repository: <a href="https://github.com/VGGeorgiev/VGGLinkedIn">https://github.com/VGGeorgiev/VGGLinkedIn</a></p>
<p>Made by: Vladimir Georgiev (VGeorgiev)</p>

<p>Website: <a href="http://VGeorgiev.org/">VGeorgiev.org</a></p>
